<nav class="navbar">
    <div class="brand-title">
        <img src="./images/navbarLogo.svg" 
        alt="" 
        style="width: 51px; height: 51px;">
    </div>
    <a href="#" class="navbar-toggle toggle-button"></a>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <div class="navbar-links">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="about">About</a></li>
            <li><a routerLink="our-products">Our Products</a></li>
            <li><a routerLink="pricing">Pricing</a></li>
            <li><a routerLink="contact-us">Contact us</a></li>
        </ul>
    </div>
</nav>
