
<div class="body">
    <div class="d-flex justify-content-between align-items-center pt-5 ms-5">
      <div class="container d-flex flex-column justify-content-start">
        <span class="digitalizing">
          Digitalizing&nbsp;
          <span style=" color: #673DCB">
            Loan
            <br /> Management
          </span>
        </span>
        <span class="powerfulProducts mt-5">
          Powerful products to make your loan <br />
          management easier and efficient.
        </span>
        <div class="d-flex justify-content-evenly mt-5">
          <button
            class="schedule-demo me-5 px-5 py-3">
            Schedule Demo
          </button>
          <button class="watch-video px-5 py-3">
            
              Watch Video
        
          </button>
        </div>
      </div>
      <div>
        <img
          src="landingimage.svg"
          alt=""
          style="width: 45rem;height:auto;"
        />
      </div>
    </div>
  </div>


